@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/shards-ui/dist/css/shards.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 100%;
  overflow: auto;
  
}

footer {
  background-color: #000000;
  text-align: center;
  position: relative;
  border-top: 2px solid #f4f4f9;
}

ol {
  list-style: none;
  display: block;
}
.about-icon {
  margin: 20px;

}

h1, h2, h3 {
  color: white;
}

label {
  margin: 5px;
}
.btn-primary {
  background-color: #b8dbd9;
  border: #b8dbd9;
  
}

.navbar {
  background-color: #000000;
  
}
/* logo on jumobtron */


#tagline {
  font-size: .5em;
}
#landing {
  position: relative;
  background-image: url('../img/space.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
    
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#cta {
  color: white;
  font-size: 2em;
  text-align: center;
  z-index: 999;
}

#logo {
  max-width: 20vw;
  height: auto;
}

#about a {
  color: #b8dbd9;
}
.selected {
  background-color: white;
  color: black;
}
#about {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 2vh;
  max-height: 65vh;
  min-height: max-content;
  box-shadow: 10px 10px 5px grey;
}

.about-section {
  padding: 10%;
}

.head {
  text-align: center;
  color: white;
  padding: 1vh;
}

.head-white {
  text-align: center;
  color: white;
  padding: 1vh;
}


#example {
background-color: #b8dbd9;
  text-align: center;
  color: #000000;
  text-align: center;
  padding: 8vh;
  
  box-shadow: 20px 10px 5px black;
}
#example h2 {
  color: black;
}
#contact {
  background-color: #000000;
  
  color: white;
  
  padding: 4vh;

 
}


#nav-logo {
  height: 40px;
  width: auto;
}