
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
::-webkit-scrollbar { 
  display: none; 
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
.post-container {
  display: none;
}
#post-body{
  height: max-content;
}

.selected {
  color: #b8dbd9;
  background-color: aquamarine;
}
.sidebar {
  background-color: grey;
  color: white;
  height: 95vh;
  overflow-y: scroll;
}
.sidebar-post-container {
  overflow-wrap: normal;
  height: max-content;
  width: 100%;
  margin: 2% 0;
  padding: 10%;
  color: black;
}

