
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/shards-ui/dist/css/shards.css';

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
* {
overflow-y: scroll;
}
.sidebar {
height: 91.5vh;
}
.post-container {
height: 81.5vh;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
* {
overflow-y: scroll;
}
.sidebar {
height: 91.5vh;
}
.post-container {
height: 81.5vh;
}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
* {
overflow-y: hidden;
}
.sidebar {
height: 95vh;
}
.to-top {
display: none;
}
.post-container {
height: 86vh;
}
}

::-webkit-scrollbar {
display: none;
}

* {
box-sizing: border-box;
}
.liked {
color: red;
}
.not-liked {
color: black;
}

.sidebar-timestamp {
  font-size: .7em;
}
html, body {
margin: 0;
padding: 0;
}
.to-top {
color: white;
text-align: center;
display: none;
}
.heart {
float: right;
margin: 5px;
}
.post-title {
  overflow: hidden;
}
.comment-time {
float: right;
}
.post-content {
margin-bottom: 4.5vh;
}
.post-container {
display: none;
margin-top: 4.5vh;
overflow-y: scroll;
}
.comment {
margin: .5%;
}

#post-body{
height: max-content;
}
.post-display {
background-color: #2f4550;
}
.selected {
  background-color: white;
  color: black;
}

.sidebar {
overflow-y: scroll;
color: black;
background-color: white;
}
.sidebar-post-container {
height: max-content;
width: 100%;

}
.sidebar-nav-item {
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 1em;
}
.sidebar-nav {
  background-color: #586f7c;
}
.sidebar-likes {
  text-align: center;
}
.likes {
  padding: 5%;
  margin: 0 auto;
}
hr {
  margin-top: .5em;
  margin-bottom: .5em;
}